html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

.main-calculator-container {
  max-width: 100%;
  max-height: 100%;
  background-color: #C5E4E7;
  padding: 3.5em;
}

.container {
  display: flex;
  justify-content: space-around;
  margin: auto;
  background-color: #fefefe;
  width: 60%;
  padding: 40px;
  max-height: 90%;
  border-radius: 40px;
}

.calculator-heading {
  text-align: center;
  letter-spacing: 8px;
  text-transform: uppercase;
  max-width: 136px;
  word-break: break-all;
  margin: auto;
  color: #3D6666;
  font-style: italic;
}

.input {
  border: 1px solid black;
  padding: 20px 30px;
  width: '100%';
  border-radius: 3px;
  background-color: #F3F9FA;
}

.item {
  display: flex;
  align-items: baseline;
  width: wid;
  width: 50%;
  justify-content: space-between;
}

.percent-container {
  width: 50%;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.percent-container p {
  background-color: #00474B;
  padding: 10px;
  margin: 4px;
  width: 50px;
  height: 10%;
  cursor: pointer;
}

.active {
  background-color: #26C2AE !important;
  color: #00474B !important;
}

.custom {
  background-color: #F3F9FA !important;
  color: rgb(68, 68, 68);
  width: 30%;
  height: 44px;
  border: none;
  font-size: 18px;
}

.right-container {
  height: 70%;
  width: 40%;
  background-color: #00474B;
  color: white;
  padding: 8px;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.reset-btn {
  background-color: #26C2AE;
  color: #00474B;
  border: none;
  padding: 10px 50px;
  margin: 10px 0;
  width: 100%;
  font-size: 22px;
  text-align: center;
}

.price {
  color: #26C2AE;
  font-size: 22px;
}