
.github-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 20px;
}

.github-container {
  background-color: #F6F8FF;
  min-height: 100%;
}

.github-header-section {
  display: flex;
  justify-content: space-around;
}

.github-search-section {
  width: 57%;
  margin: 33px auto;
  box-shadow: 5px 5px 10px 5px #000000;
  border-radius: 12px;
}

.github-search-container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.github-input {
  border: none;
  background: inherit;
  font-size: 24px;
  padding: 8px;
  border-radius: 14px;
}

.github-search-btn {
  padding: 14px;
  background: #0079FF;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 12px;
}

.search-icon {
  color: blue;
  font-size: 26px;
}